// Body
$body-bg: #550000;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;


$body-color: #efefef;
$jumbotron-bg: #770000;
$jumbotron-color: #efefef;

$primary: #aa0000;

$nav-tabs-link-active-bg: #770000;
$nav-tabs-link-active-color: #efefef;
$nav-tabs-border-width: 0;
$link-color: #efefef;
$nav-link-disabled-color: #ababab;
$enable-pointer-cursor-for-buttons: false;

$input-bg: #333;
$input-color: #ccc;
$input-placeholder-color: #999;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
